.map {
    position: absolute;
    width: 100%;
    height: 100%;
    
    .map-content {
        position: relative;
    }

    svg.town {
        position: absolute;
        cursor: pointer;    
    }

    svg.unit {
        position: absolute;
        transition: all 0.5s ease;
        cursor: pointer;

        &.selected-unit polygon {
            stroke-width: 10px;
            stroke: gold;
        }
    }

    svg.tile {
        position: absolute;

        polygon {
            fill: #eee;
            stroke-width: 1px;
            stroke: #555;
        }

        polygon:hover {
            fill: #09f;
        }
    }
}
