@import '../../constants';

.bottom-menu {
    position: fixed;
    bottom: 0;
    pointer-events: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    right: 200px;

    .next {
        margin-left: 15px;
        pointer-events: all;
        width: 80px;
        height: 80px;
        background-color: #fff;
        padding: 20px;
        background: $menu-first-color;
        border-radius: 50%;
        margin-bottom: 20px;
        box-sizing: border-box;
        cursor: pointer;

        &:hover {
            background: $menu-second-color;
        }

        svg {
            width: 100%;
            fill: #fff;
         //   margin-left: 3px;
        }

    }
} 

