body {
    margin: 0;
    font-family: Verdana, Lato;
    box-sizing: border-box;
}

.app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.red { 
    color: red;
}

svg {
    height: 100%
}

@import 'animations/fade';

@import 'gui/top-menu';
@import 'gui/unit-menu';
@import 'gui/bottom-menu';

@import 'map/map';
