.map {
    width: 100%;
    height: 100%;
    

    g.town {
        cursor: pointer;    
        overflow: visible;        

        &.selected polygon {
            stroke-width: 10px;
            stroke: gold;
        }
    }

    g.unit {
        overflow: visible;
        transition: all 0.5s ease;
        

        &:hover polygon {
            stroke-width: 5px;
            stroke: #09f;
        }

        &.selected-unit polygon {
            stroke-width: 10px;
            stroke: gold;
            cursor: pointer;                 
        }

        &.melee-attack {
          cursor: url('http://localhost:4444/images/cursor_attack.png'), crosshair;
        }
    }

    g.tile {
        polygon {
            stroke-width: 1px;
            stroke: #555;
        }
    }

    circle.move-marker {
        pointer-events: none;
    }
}
