.tooltip {
    color: #fff;
    padding: 40px;
    background: rgba(0,0,0,0.8);
    border-radius: 20px;
    font-size: 200%;
    overflow-y: auto;

    h1 {
        color: #fff;
        font-size: 49px;
        margin: 0 0 20px;
        text-align: center;
    }
}